*.ini
msconfig/vlayers.map
msconfig/rlayers.map
msconfig/lsflayers.map
msconfig/data
var/Config.py
var/Config.pyc
dataexchange/LANDSAT_8.csv
dataexchange/LANDSAT_ETM.csv
#ShapeFileExtensions
*.tar.gz
*.dbf
*.prj
*.shp.xml
*.sbx
*.sbn
*.shp
*.wkt
*.shx
*.qpj
geoprocessing/fmaskLinux/MCRInstaller
*.zip
*.pyc
geoprocessing/daveo/*
geoprocessing/fmaskLinux/Fmask32/*
dataexchange/LANDSAT_ETM_SLC_OFF.csv
html/landsatfact_config.xml
geoprocessing/old/*