*.ini
bash_config.cfg
tmp_bash_config.cfg
msconfig/vlayers.map
msconfig/rlayers.map
msconfig/lsflayers.map
msconfig/lsf-ndmi.map
msconfig/lsf-ndvi.map
msconfig/lsf-swir-threshold.map
msconfig/lsf-swir-allchange.map
msconfig/data
var/Config.py
var/Config.pyc
dataexchange/LANDSAT_8.csv
dataexchange/LANDSAT_ETM.csv
dataexchange/LANDSAT_TM-1980-1989.csv
dataexchange/LANDSAT_TM-1990-1999.csv
dataexchange/LANDSAT_TM-2000-2009.csv
dataexchange/LANDSAT_TM-2010-2012.csv
#ShapeFileExtensions
*.tar.gz
*.dbf
*.prj
*.shp.xml
*.sbx
*.sbn
*.shp
*.wkt
*.shx
*.qpj
geoprocessing/fmaskLinux/MCRInstaller
*.zip
*.pyc
geoprocessing/daveo/*
geoprocessing/fmaskLinux/Fmask32/*
dataexchange/LANDSAT_ETM_SLC_OFF.csv
html/landsatfact_config.xml
geoprocessing/old/*
var/log/lsf_cron.log
var/log/cr_py.log
var/log/cr.txt
var/log/cr_pending.txt
aws.config
msconfig/initial_mosaic.sh
msconfig/initial_mosaic_cloud.sh
msconfig/initial_mosaic_gap.sh
msconfig/initial_mosaic_ndmi.sh
msconfig/initial_mosaic_ndvi.sh
msconfig/initial_mosaic_swir.sh
msconfig/custom-request.map
msconfig/lsf-cr-ndmi.map
msconfig/lsf-cr-ndvi.map
msconfig/lsf-cr-swir-allchange.map
msconfig/lsf-cr-swir-threshold.map
