*.ini
msconfig/vlayers.map
msconfig/data
var/Config.py
var/Config.pyc
dataexchange/LANDSAT_8.csv
dataexchange/LANDSAT_ETM.csv
#ShapeFileExtensions
*.tar.gz
*.dbf
*.prj
*.shp.xml
*.sbx
*.sbn
*.shp
*.wkt
*.shx
*.qpj
geoprocessing/fmaskLinux/MCRInstaller
*.zip