Header set Access-Control-Allow-Origin "*"
<Files "vlayers">
    Allow from all
    SetHandler cgi-script
</Files>
<Files "rlayers">
    Allow from all
    SetHandler cgi-script
</Files>
<Files "lsflayers">
    Allow from all
    SetHandler cgi-script
</Files>
<Files "lsf-NDMI">
    Allow from all
    SetHandler cgi-script
</Files>
<Files "lsf-NDVI">
    Allow from all
    SetHandler cgi-script
</Files>
<Files "lsf-swir-threshold">
    Allow from all
    SetHandler cgi-script
</Files>
<Files "lsf-swir-allchange">
    Allow from all
    SetHandler cgi-script
</Files>
<Files "custom-request">
    Allow from all
    SetHandler cgi-script
</Files>
<Files "lsf-cr-ndmi">
    Allow from all
    SetHandler cgi-script
</Files>
<Files "lsf-cr-ndvi">
    Allow from all
    SetHandler cgi-script
</Files>
<Files "lsf-cr-swir-allchange">
    Allow from all
    SetHandler cgi-script
</Files>
<Files "lsf-cr-swir-threshold">
    Allow from all
    SetHandler cgi-script
</Files>
<Files "lsf-vrt-NDMI">
    Allow from all
    SetHandler cgi-script
</Files>
<Files "lsf-vrt-NDVI">
    Allow from all
    SetHandler cgi-script
</Files>
<Files "lsf-vrt-swir-allchange">
    Allow from all
    SetHandler cgi-script
</Files>
<Files "lsf-vrt-swir-threshold">
    Allow from all
    SetHandler cgi-script
</Files>
<Files "hansen">
    Allow from all
    SetHandler cgi-script
</Files>